*{margin:0px;
  padding: 0px;
}
a:hover,a:focus { text-decoration: none; }


.header {
    background: #fff;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}
.logo{
    display: inline-block;
    
}
.logo img{
    background-color: #006b43;
    padding: 5px;
    width: 80px;
    height: 80px;
    
}

.logo p{
      float: right;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 28px;
      color: #00955a;
}

 .grid{
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 .grid .row {
    background-color: transparent;
    border: 0;
    height: 50px;
    padding-right: 0;
    
  }
  .grid .row .col-md-1
    {
        min-height: 50px;
    }
  .grid .row .col-md-2
    {
        min-height: 100px;
        height: 200px;
    }
  .grid .row .col-md-3
    {
        min-height: 150px;
    }
  .grid .row .col-md-4
    {
        min-height: 200px;
    }
  .grid .row .col-md-5
    {
        min-height: 250px;
    }
  .grid .row .col-md-6
    {
        min-height: 300px;
    }

h1{
  font-size: 16px;
}
h2{
  font-size: 14px;
}
h3{
  font-size: 12px;
}

@media (max-width: 767px){
  .grid{
    margin-left:-8px;
  }
}

















