*{margin:0px;
  padding: 0px;
}

body{
  background-color: #000;
}

a:hover,a:focus { text-decoration: none; }
.header{
  background-color: #fff;
}
.navbar{
  background-color: #fff;
}
.wrapper{
  background-color: #eee;
}

.logo{
    display: inline-block;
    
}
.logo img{
    background-color: #006b43;
    padding: 5px;
    width: 70px;
    height: 70px;
    
}

.logo p{
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 22px;
    color: #00955a;
}

.navbar-header button{
  margin-top:20px;
}
.dropdown{
  margin-right: 35px;
  margin-top: 5px;
  border:1px solid #ccc;
}
.dropdown-toggle{
  color:#333;
}
.tile{
  border:4px solid #eee;
}
 .grid{
    width: 100%;
    margin-left: 0px;
    margin-top: 110px;
    margin-bottom: 10px;
 }

 .grid .row {
    background-color: transparent;
    border: 0;
    height: 50px;
    padding-right: 0;
    
  }
  .grid .row .col-md-1
    {
        min-height: 50px;
    }
  .grid .row .col-md-2
    {
        min-height: 100px;
        height: 200px;
    }
  .grid .row .col-md-3
    {
        min-height: 150px;
    }
  .grid .row .col-md-4
    {
        min-height: 200px;
    }
  .grid .row .col-md-5
    {
        min-height: 250px;
    }
  .grid .row .col-md-6
    {
        min-height: 300px;
    }

h1{
  font-size: 16px;
}
h2{
  font-size: 14px;
}
h3{
  font-size: 12px;
}
h4{
  font-size: 10px;
}
p{font-size: 15px;color: #fff;}

@media (max-width: 767px){
  .grid{
    margin-left:-8px;
  }
  .logo p{
    font-size: 20px;  
}
}

@media(max-width: 379px){
  .dropdown{
  display: none;
  }
}

















