*{margin:0px; padding:0px;}

body{
    background-image: url(../images/1.png);
    /*background-repeat: repeat-x repeat-y;*/
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #55a2ea;
}
a:hover { text-decoration: none; }

.header {
    background: #fff;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}
.logo{
    display: inline-block;
    
}
.logo img{
    background-color: #006b43;
    padding: 5px;
    width: 60px;
    height: 60px;
    
}

.logo p{
      float: right;
      padding:30px 0px 10px 10px;
      margin-right: 70px;
      font-size: 22px;
      color: #00955a;
}
.links{
    float: right;
    margin-top: -45px;
    color: #6a6960;
}
.register-container{
    margin-top: 70px;   
}

.register{
    margin-top: 60px;
    
}
.pull-right{
    margin-right: 200px;
}
.register form {
    padding: 20px 50px 40px 50px;
    background: rgba(238, 238, 238, 0.95);
    text-align: center;
    position: relative;

}
.register form h2 {
    
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #6a6060;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

}

.register form input {
    width: 85%;
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: initial;
    font-family: Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
    z-index:999;

}

.register form input:focus {
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.register form button {
    cursor: pointer;
    width: 85%;
    height: 42px;
    margin-top: 10px;
    padding: 0;
    background: #61da55;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}

.ibox{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    left: 10px;
}
.ibox label{
    float: left;
    margin-left: -8px;
    font-size: 16px;
}
.ibox label input{
    width: auto;
    border: none;
    clear: both;
}
.ibox input a{
    margin-right: 5px;
    text-align: right;
}

.rowgroup{
    display: inline;
}
.icon-inbox{
    float: left;
}

input{
    margin: 10px 0px 20px 0px;
}

input[type="checkbox"]{
    margin: 0px;
}
.login-for-pwd{
    position: absolute;
    top: 10px;
    right: 15px;
}

.qcode{
    position: fixed;
    /*float: right;*/
    top: 435px;
    right: 20px;
}

.footer{
    margin-top: 60px;
    margin-bottom: 20px;


}

.footing{
    text-align: center;
    /*margin-top: 80px;*/
    padding-top: 80px;
    color: #fff;
}


/* ----- Media queries ----- */
/*@media (min-width: 1201px){
.qcode{
    position: fixed;
    float: right;
    margin-top: 280px;
    margin-left: 1400px;
}
}*/

@media (max-width: 1200px) {

    .register form h2 { background: url(../images/pencil.png) 20px 6px no-repeat; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }
    .register{ margin-top: 50px;margin-right: 0px;}
    .qcode{display: none;}

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo { display:inline-block;text-align: center; }
    .links{ position:absolute;top:0px;}
    .register{margin-top: 10px;}
    .pull-right{ margin-right: 0px; }

    .register-container { padding-left: 20px; padding-right: 20px; }

    .register form h2 { background: none; }
    .qcode{display: none;}


}

@media (max-width: 480px) {

    .register form button { width: 97%; }
    
}



